In [2]:
import numpy as np
import pandas as pd

In [3]:
trainData = pd.read_csv('C:\\Users\\ASMITPAUL\\Downloads\\train.csv')
trainData

,OverallQual,GrLivArea,GarageCars,GarageArea,TotalBsmtSF,1stFlrSF,FullBath,TotRmsAbvGrd,YearBuilt,YearRemodAdd,SalePrice
0,7,1820,1,240,1026,1133,2,8,1925,1950,184000
1,7,1646,1,240,918,918,2,7,1941,1950,164000
2,5,1316,2,484,926,926,1,6,1929,2001,130000
3,10,2402,3,672,3094,2402,2,10,2008,2008,555000
4,7,1253,2,402,1237,1253,2,6,1995,1996,176000
...,...,...,...,...,...,...,...,...,...,...,...
1163,6,1400,2,440,672,672,1,6,1978,1978,149500
1164,7,1472,2,402,384,802,2,7,1991,1992,160000
1165,5,789,1,250,789,789,1,5,1948,1950,115000
1166,6,1661,1,377,992,1661,1,8,1955,1996,165500
1167,7,1442,2,500,1424,1442,2,5,1990,1990,180500

In [4]:
Y = np.matrix(trainData.iloc[:, 10:])

inputData = trainData.iloc[:, 0:10]
inputData.insert(loc = 0, column = 'Ones' ,value = 1)

X = inputData.to_numpy()
X = np.matrix(X)

print(X)
print(Y)

[[   1    7 1820 ...    8 1925 1950]
 [   1    7 1646 ...    7 1941 1950]
 [   1    5 1316 ...    6 1929 2001]
 ...
 [   1    5  789 ...    5 1948 1950]
 [   1    6 1661 ...    8 1955 1996]
 [   1    7 1442 ...    5 1990 1990]]
[[184000]
 [164000]
 [130000]
 ...
 [115000]
 [165500]
 [180500]]

In [5]:
parameters = np.linalg.inv(X.T @ X) @ X.T @ Y
print(list(np.array(parameters)))

[array([-1146530.37788969]), array([19689.26440613]), array([49.27276765]), array([11648.33265054]), array([16.01697717]), array([16.35853713]), array([15.92401482]), array([-6043.85572739]), array([451.16922121]), array([248.83798887]), array([294.50336048])]

In [6]:
testData = pd.read_csv('C:\\Users\\ASMITPAUL\\Downloads\\test.csv')
testData.insert(loc = 0, column = 'Ones', value = 1)
testData

,Ones,OverallQual,GrLivArea,GarageCars,GarageArea,TotalBsmtSF,1stFlrSF,FullBath,TotRmsAbvGrd,YearBuilt,YearRemodAdd,SalePrice
0,1,8,1970,3,753,1085,1120,2,8,2006,2006,281000
1,1,6,1632,1,338,1240,1632,2,6,1958,1988,139000
2,1,7,1223,2,480,600,520,2,4,2005,2005,147400
3,1,5,1559,2,812,1559,1559,1,5,1948,1973,153500
4,1,4,630,1,286,630,630,1,3,1970,2002,86000
...,...,...,...,...,...,...,...,...,...,...,...,...
287,1,6,1158,2,576,1158,1158,1,5,2004,2004,158000
288,1,6,987,1,264,483,483,1,5,1972,2007,118000
289,1,6,848,2,420,848,848,1,4,2003,2003,140000
290,1,7,1266,2,388,1266,1266,2,6,2007,2007,159895
291,1,6,1484,2,393,783,783,2,8,2005,2007,178900

In [7]:
prediction = []

for row in range(testData.shape[0]):
    predictedPrice = 0
    
    for column in range(testData.shape[1] - 1):
        predictedPrice = predictedPrice + testData.iloc[row,column]*parameters[column]
        
    prediction.append(predictedPrice)
    
prediction = np.asarray(prediction).squeeze(2)
prediction = prediction.squeeze(1)
prediction

array([272105.16989948, 178669.78124201, 179751.86300057, 177366.66110266,
        74951.93690219, 104159.26607936, 113773.00336077, 186092.39741749,
       212706.07012404, 159215.35215816, 217874.80995575, 117247.15565661,
       177040.65807324, 140199.29730141, 285605.07551407, 166569.80708851,
       205041.46670639, 231519.8045728 , 146644.92885948, 154953.63132379,
       236679.31604557, 267770.66799387, 197411.67995457, 125179.68066184,
       243204.43955124, 144682.58300732, 210988.91150088,  88184.0253935 ,
       137972.80170003, 169510.72116641, 280909.20116237, 180725.40512234,
       177472.56000447, 130067.09113324, 148909.7084672 , 142611.09222322,
         9647.73608394, 244751.87109098, 359232.49955507, 182369.72709883,
       133738.04687637, 102455.51572223,  63142.22801386,  60185.01499751,
       152996.32248561, 163045.4886073 ,  83014.67429301, 234325.45814599,
       103420.32026614, 164687.02056411, 124259.56951898, 231169.93575717,
       254960.23520098, 223106.8030958 , 121519.0139333 , 116547.35198291,
       213603.52047286, 220717.63193287, 224218.6137771 ,  88563.64536843,
       179683.70236672, 178432.96097865,  92854.09830859, 238887.04134918,
       147356.87910557, 136091.34794338, 184235.99006731, 310126.52398684,
       172251.32881158, 125146.27360653, 293569.72157853, 123801.26524106,
       214925.22631317, 206529.00059245, 212570.84720585, 115880.33013643,
       157623.25843014, 143766.87107434, 108288.8571559 , 194442.78275846,
       313631.57599057, 246569.60556371, 157221.44673049, 172570.68210667,
       299453.75384773, 193449.78738348, 126229.59584694,  96725.96004718,
       250266.96231702, 270201.66960462, 192406.1254943 , 154219.52708153,
       139843.55796188, 212609.94348136, 202604.44227869, 167870.61880585,
       180310.45656652, 116728.84454652, 198620.59988284, 124240.25972839,
       299944.05317399, 119434.40477804, 144363.55060992, 171982.53471156,
       103152.79471166, 191340.91158605, 210070.80083465, 113705.83670211,
       141891.63199855, 128741.58953532, 136020.52820779, 116783.8986345 ,
       140801.4543444 , 227683.34806891, 189297.04603995, 128148.18039022,
       180904.84563675, 144412.82624621, 240349.77196057, 133341.24814606,
       149458.24047307, 178985.43946182, 147359.99837987, 240215.06684129,
       196088.25596635, 131078.14264887, 122430.81348871, 104063.90147239,
       165834.05904833, 162784.8790991 , 295766.14525747, 166086.18194682,
        65527.82936697, 152241.36773799, 306795.06465299, 127408.00340995,
       238897.76347641, 243411.90203663, 111804.0118423 , 259135.11090977,
       115974.23206439, 311236.94004006, 114413.44075849, 166621.05917329,
       257076.89386784,  69828.26582478, 145928.64536009, 254084.05765688,
       283765.97557018, 127527.39730968, 306127.28918312, 172136.96194547,
       320024.44211084, 184598.90497583, 135860.41378105, 149409.44286122,
       225366.16707086, 141764.31741176, 246371.43527352,  37565.62007242,
       193493.09473694, 129016.8414438 , 238239.8975495 , 138556.81031554,
        93331.61551277, 169359.68793843, 216357.91306175, 309459.01275429,
       165128.56220713, 124810.37976844, 115229.17809855,  95452.96724925,
       137780.55177446,  69232.29679888, 330149.87747537, 243299.69255823,
       247049.14593206, 226727.95598172, 237189.31048603, 220170.41848415,
       154328.24247729,  91491.70972379, 125865.5519955 , 162012.76801923,
        50385.32394324, 106895.9279425 , 212108.52168509, 103391.51387176,
       229949.45026323, 142824.20134055, 130681.93923182, 114372.35477103,
       374838.80115136, 319021.91685263, 247830.11984296, 192320.96527126,
       225394.4932298 , 106540.0996033 , 197025.10440087, 304990.50048807,
       220398.81860191, 143580.21705469, 188041.54322648, 190204.15337944,
        96162.62672888, 213577.42967913, 219225.2775902 , 191299.57392301,
       230261.80842295, 171385.99666882,  80526.79999651, 153367.86601134,
       288555.49101517, 314410.3516978 , 155387.48573891, 169570.03200395,
        -2377.49683462, 262164.69826092,  62352.83355753, 107122.94251577,
       291192.18990257, 116171.9293669 , 223535.66350423, 252488.82391077,
       257359.33036812,  41781.42671423, 180064.94402491, 212723.22653702,
       243081.11278338, 268823.34239639, 173004.3464723 , 201278.53379172,
       226084.08857395, 353118.14133643, 317013.72598548,  84537.56839013,
       252769.74611406, 210838.92103704,  86394.52397895, 178536.86636077,
       175698.39831282, 186276.49333587, 266645.96057619,  49298.64124454,
       149623.31607433, 243558.37746287, 314845.21951763, 149572.80051958,
       154731.26668657, 140679.01936463, 211628.93675831, 135069.45231777,
       218602.85440756, 122127.32827591, 195212.06080836, 320102.81474016,
       211323.38150959, 154647.44064292,  99997.45020829, 263810.76428065,
       116327.93326248, 180918.86214369,  45904.87206653, 107465.28013677,
        92171.58452956, 181771.27552134, 161097.4624535 , 254708.69991326,
       172303.58786764, 133309.15902982, 224143.17997536, 159461.43893903,
       369892.2173207 , 147423.79162557, 235821.32242726, 122907.37093558,
       109935.15810916, 153542.50349202, 114778.53998384, 317573.87139535,
        90806.86332704,  69338.93390713, 194192.7626036 , 119140.12424772,
       213864.70628214, 293275.4433166 , 118066.36494963, 183636.76728418,
       129695.46635227, 154861.45919565, 205160.15204114, 181104.62573714])

In [8]:
meanSale = np.mean(testData['SalePrice'])

ssTotal = np.sum((testData['SalePrice'] - meanSale)**2)
ssResidual = np.sum((testData['SalePrice'] - prediction)**2)

r2 = 1 - (ssResidual/ssTotal)
r2

0.8218751679815022